In [1]:
import pandas as pd

In [26]:
df = pd.read_csv("filtered_output.csv")
df

,SỞ GIÁO DỤC VÀ ĐÀO TẠO BÌNH DƯƠNG,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20,Unnamed: 21,Unnamed: 22,Unnamed: 23,Unnamed: 24,Unnamed: 25,Unnamed: 26
0,178,10178,Lê Nguyễn Gia,Hân,Nữ,03/02/2010,TP. Hồ Chí Minh,Trường THCS Chu Văn An,Thành phố Thủ Dầu Một,SINH,...,1,THPT Chuyên Hùng Vương,5.50,1.00,8.00,8.2,8.50,25.70,30.20,25.70
1,197,10197,Nguyễn Gia,Hiếu,Nam,01/01/2010,Phú Thọ,Trường THCS Mỹ Phước,Thành phố Bến Cát,LÍ,...,1,THPT Chuyên Hùng Vương,3.50,63.50,6.50,8.0,8.75,24.25,26.75,29.60
2,705,10705,Trần Phan Phương,An,Nữ,03/01/2010,TP. Hồ Chí Minh,Trường THCS Phú Long,Thành phố Thuận An,TOÁN,...,2,Trường THCS Phú Hòa,5.75,7.25,8.25,7.4,8.25,24.90,35.40,31.15